body,html{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Quicksand', sans-serif !important;
	background-color: #333333 !important;
}
/*
body > header{
	height: 75px;
}
*/
body > #c_mandos{
	color: #ededed;
}

.res-s{
	background-image: url("iconos/superior1.png");
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-tmp{
	background-color: rgba(51,51,51,0.35) !important;
	color: #ededed;
}

.btn-tmp:hover{
	background-color: rgba(51,51,51,0.5) !important;
}

.btn-tmp:active, .btn-tmp:focus{
	background-color: rgba(51,51,51,1) !important;
	border-color: rgba(237,237,237,0.8) !important;
}

.text-xl{
	font-size: 4em !important;
}

.text-lg{
	font-size: 2.5em !important;
}

.text-bg{
	color: #333333 !important;
}
.bg-white{
	color: #ededed !important;
}

@media (max-width: 578px) {
	.d-none-sm{
		display: none;
	}
}
@media (max-width: 992px) {
	.d-none-lg{
		display: none;
	}
}

.border{
	/*
	border-color: #9e9e9e !important;
	border-width: 3px !important;
	*/
	border-width: 0px !important;
	background-color: #474747 !important;
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

/*
MINIMOS
-------
SM 	578
MD 	768
LG 	992
XL	1200
*/
.ind{
	width: 120px;
	cursor: pointer;
}

.ind:focus{
	border: 5px solid #a00;
}





/*
#c_mandos{
	margin-top: 75px;
}
*/


body > footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*line-height: 60px;*/
    background-color: #f5f5f5;
}